*.dSYM
*.cmake
*.log
*.o
*.s
*.scan
*.status
*.tar.*
*~
.DS_Store
.deps
.done
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build
compile
confdefs.h
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
man/*.html
man/Makefile.in
missing
probes.h
probes_dnscrypt_proxy.h
src/*.la
src/*.lo
src/*.o
src/.deps
src/.libs
src/Makefile.in
src/dnscrypt-proxy/Makefile.in
src/dnscrypt-proxy/dnscrypt-proxy
src/libnacl/okcompilers/c
src/libnacl/okcompilers/do
stamp-*
testing
