# This file is part of dnscrypt
# Author: Marguerite Su <i@marguerite.su> with some AUR reference.
# Version: 1.2.0
# Description: dnscrypt is a tool developed by OpenDNS company.
#              it aims to encrypt your dns query to OpenDNS to protect from
#              middle-man attack or DNS polution(commonly see in China).
#              it publics free (also redistributes free). 
#              in openSUSE it's licensed under SuSE-Permissive(Non-free ware).
#              details see its documentation.
[Unit]
Description=Secure connection between your computer and DNS resolver(openDNS)
After=network.target

[Service]
Type=forking
PIDFile=/var/run/dnscrypt-proxy.pid
ExecStart=/usr/sbin/dnscrypt-proxy --daemonize \
          -p /var/run/dnscrypt-proxy.pid \
          -l /var/log/dnscrypt-proxy.log 
# Automatically Restart 
Restart=on-abort

[Install]
WantedBy=multi-user.target
